firstproject/src/main/app/firstproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8085" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="8085" doc:name="HTTP Request Configuration"/>
    <flow name="firstprojectFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/getdetails" doc:name="HTTP"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <logger message="test" level="INFO" doc:name="Logger"/>
        <set-variable variableName="var1" value="#[payload]" doc:name="Variable"/>
        <set-payload value="var1: #[flowVars.var1]
" doc:name="Set Payload"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/Test" method="POST" doc:name="HTTP"/>
    </flow>
    <flow name="firstprojectFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/Test" doc:name="HTTP"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <logger message="-------------------------------------#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
